# Patients import and exceute

Prepare connection with DB in mySQL

In [1]:
import pandas as pd
import gzip
import time
import mysql.connector
import os
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
con_string='mysql+pymysql://root:Asdqwe123@localhost/vcf_sql'
engine=create_engine(con_string)

In [3]:
def readSQL(table):
    query="SELECT * FROM " + table
    df= pd.read_sql(query, engine)
    return df

def writeSQL(df, table):
    df.to_sql(table,engine,if_exists='append',index=False,chunksize=1000000)

In [4]:
# Assuming the CSV file is named 'sample_data.csv' and is in the same directory
file_path = '/mnt/ruslan/ArcDB_v2/mysql_db/resource/metadata_manuallyAnnotated_2025June13.csv'

# Read the CSV file into a pandas DataFrame
metaData = pd.read_csv(file_path)

CREATE TABLE `patient`(
    `SubjectID` BIGINT NOT NULL PRIMARY KEY,
    `FamilyID` VARCHAR(255) NOT NULL,
    `DOB` VARCHAR(255),
    `gender` VARCHAR(255) NOT NULL,
    `familyRelationship` VARCHAR(255),
    `country` VARCHAR(255),
    `clinicalStatus` VARCHAR(255),
    `consaguinityScore` FLOAT(53),
    `active` BOOLEAN NOT NULL
);

In [9]:
patientTable=metaData.loc[:,["subject ID","Family ID","DOB","gender","Family relationship","country of Origin","clinicalstatus","consaguinityScore"]]
patientTable['active']=True

patientTable.columns=['SubjectID', 'FamilyID', 'DOB', 'gender', 'familyRelationship',
       'country', 'clinicalStatus', 'consaguinityScore', 'active']
patientTable=patientTable[~patientTable['SubjectID'].duplicated()]

In [10]:
writeSQL(patientTable,"patient")

CREATE TABLE `analysis`(
    `SampleID` BIGINT NOT NULL PRIMARY KEY,
    `SubjectID` BIGINT NOT NULL,
    `SamplingMethod` VARCHAR(255),
    `TestType` VARCHAR(255),
    `MedianCoverage` FLOAT(53),
    `SourceOfDNA` VARCHAR(255),
    `Outcome` VARCHAR(255),
    `active` BOOLEAN NOT NULL
);

In [5]:
AnalysisTable=metaData.loc[:,["Sample ID","subject ID","samplingmethod","testtype","median_coverage","sourceofdna","Outcome"]]
AnalysisTable['active']=False

AnalysisTable.columns=["SampleID","SubjectID","SamplingMethod","TestType","MedianCoverage","SourceOfDNA","Outcome", 'active']
AnalysisTable=AnalysisTable[~AnalysisTable['SampleID'].duplicated()]

In [6]:
writeSQL(AnalysisTable,"analysis")

In [5]:
readSQL('stats')

          variantID  VAF
0                 1   47
1                 2   35
2                 3   38
3                 4   36
4                 5   39
...             ...  ...
24063845   24063846    1
24063846   24063847    1
24063847   24063848    1
24063848   24063849    1
24063849   24063850    1

[24063850 rows x 2 columns]